


h2 {
    font-family: 'Quicksand', sans-serif;
    color: #988c92;
    font-size: 30px;
    margin: 5rem 0rem;

}

input:focus {
    border-bottom: 1px solid #ccc2c7 !important;
    box-shadow: 0 1px 0 0 #ccc2c7 !important;
}


.btn-flat {
    color: #cca8a8 !important;
    margin: 10px;
}

form {
    margin: 0 auto;
    max-width: 800px;
}

form h2, form h3, form h4{
    color: #686e67;
    margin-bottom: 0;
}
form h2{

    font-size: 2em
}

form h3{
    font-size: 1.5em
}

form h4{
    font-size: 1.2em;
}

label{
    float: left;
}

Field {
    background-color: white;
}

#custom_input {
    border-bottom: 1px solid #ccc2c7;
}

#nounderline {
    border-bottom:none;
}

.MuiSelect-selectMenu{
    color: white !important;
    font-family: Raleway, Helvetica, sans-serif !important;

}

.MuiInput-root{
    background-color: #ccc2c7;
    margin-top: 15px;
    margin-right: 10px;
    display: block !important;
    color: white;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.option_label {
    color: #ccc2c7;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px;
}

input[type=radio]:checked + label{

    background-color: #ccc2c7;
    color: white;
}


.radio-group {
    margin-top: 15px;
    border: solid 1px #ccc2c7;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

.completion_date{
    color: #fff;
    background-color: #ccc2c7;
    padding: 5px;
    border-radius: 5px;
    font-family: Raleway, Helvetica, sans-serif;
}

.error , .no_error {
    margin-top: 5px;
    margin-bottom: 20px;
}


.error {
    color: #9c8e94;
    background-color: #9485921f;
    padding: 5px;
    font-family: Raleway,Helvetica,sans-serif;
    letter-spacing: 0.09rem
}

.user_field_error {
    background-color:#988080;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}


.confirm-block h3 {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 8px;
    background-color: #cdc2c7;
    border-radius: 3px;
    color: white;

}

.confirm-block h2 {
    margin: 0;
}

.confirm-block p{
    
    font-family: Raleway,Helvetica,sans-serif;
    letter-spacing: 0.09rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    word-break: break-word;

}

.divider {
    max-width:700px;
    margin: 20px auto;

}

.request-form {
    background-color: #ffffff73;
    border: 1px solid rgb(230, 230, 230);
    max-width: 700px;
}

.fields {
    margin: 40px;
}

.section-description {
    margin: 40px 0 10px 50px;
    text-align: left;
}

.trans-form-title {
    margin-bottom: 0;
    font-size: 20px;
}
.sub-title {
    font-family: 'Raleway';
    font-size: 13px;
    color: gray;
    max-width: 200px;
}

.link {
    max-width: 195px;
}

.back-icon {
    font-family: 'Raleway';
    padding: 20px;
}

.back-icon i {
    font-size: 13px;
    margin-right: 10px;
}

.back-icon:hover {
    color: #cdc2c7;
}
