$font-01: "Raleway", sans-serif;

@mixin ssm {
  @media screen and (max-width: 600px) {
     @content;
  }
}  

.searchbox{
    margin: 0 auto;
    width: 100%;

  }

.normal-search{
  color: gray;
} 

.tag-search{
  color: rgb(172, 112, 122);
  background-color: #cdc2c759 !important;
}

.language-search{
  color: rgb(172, 112, 122);
  background-color: #50505017 !important;
}
  
  input#search-bar::placeholder{
    color: #967a86;
  }

  input#search-bar{
    font-family: $font-01;
    margin: 0 auto;
    height: 50px;
    font-size: 1rem;
    border: 1px solid #cdc2c785;
    text-align:center;
  
    &:focus{
      border: 1px solid transparent;
      color: #808080;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  #search-icon {
    position: relative;
    float: right;
    width: 55px;  
    opacity: 0.8;

  }

  #search-icon:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

  #search-icon:hover{
    opacity: 1;
  }
  

  .no-result {
    width: 80%;
   margin: 10px auto;
  }


  .message-2 {
      font-family: $font-01 ;
      margin: 10px auto;
      max-width: 200px;
      overflow: hidden;
      color: #575757;
  }

  .query-title{
    color: #cda8a8;
  }

  .tag-query{
    background-color: #cda8a8;
    border-radius: 4px;
    padding: 2px 3px; 
    font-size: 13px;
    color: rgba(255, 255, 255, 0.904);
    
  }

  .language-query{
    color: #cda8a8;
    font-size: 15px;
  }

  .total-docs {
    font-family:$font-01;
    float: right;
    color: #878787;

  }

  .search-char {
    font-weight: bold; 
    color: #6e6e6e
  }
  
  .search-list{
    color: #9c838e;
    font-weight: bold;
  }

  .emp-span {
    color: #8f7782;
    font-weight: bold;
  }

