/*CSS for slider related elements*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



h4{
    font-size: 1rem;
    color: #cca8a8;
}

.container {
    text-align: center;
}

.language-sel {
    font-family: Raleway,Helvetica,sans-serif;
    margin-top: 30px;
    padding-bottom: 10px;
    background-color: #f6e4e2;
    min-height: 40px;
}

#search {
    background-color:#fff;
    height: 40px;

}


.post-count{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 10px;
    background: #ecf0f1;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    color: #333333;
    font-weight: 600;
    transition: all .2s ease;
}


a {
    color: gray;
}


.card-content p{
    font-family: Raleway,Helvetica,sans-serif;
    letter-spacing: .09em;
    color: #777;
    font-weight: 400;
}

.card-action i {
    padding: 0;
    margin: 0;
}

