/*prevent firefox from making the font-weight bolder than it should be*/
@-moz-document url-prefix() {
    body{
        font-weight: 300;
    }

    
  }

.material-icons {
color: #505050ad;
}

.collection {
    margin: 0 ;
    font-family: 'Raleway', Helvetica, sans-serif !important;
    letter-spacing: 0.09rem
}

.img-container {
    margin-top: 50px;
}

.img-container img {
    max-width: 200px;
    float: right;
    opacity: 0.3;
}

.filter {
    float:left
}

.card {
    background-color:#e5e5e5;
    box-shadow: none;
    border: 1px solid rgb(230, 230, 230);

}

.card:hover{
       transition: all 0.2s;
       transform: translateY(-5px);
}

.card-content {
    margin-top: 20px;
}

.answer {
    font-size: 10px;
    float:right;
}
.language {
    font-size: 10px;
    float:left;
}

.tag-title {
    
  font-size: 12px;
  border-radius: 4px;
  background: #ccc2c7;
  color:#4e4e4e;
  float: right;
  margin: 0px 5px;
  padding: 4px;      
}

.tag-desc {
  display:none;
  width: 300px;
  font-size: 10px;
  background-color: #f0f0f0;
  color:#4e4e4e;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px; 
}

.tag-title:hover .tag-desc{
    display: block;
  }


.collection h3 {
    padding: 15px;
    border-radius: 5px;
}

.collection:hover{
    background-color: rgba(172, 172, 172, 0.096);
}

.due-date {
    font-size: 9px;
    float: right;
    margin: 5px;
}

.preloader-wrapper{
   margin-top: 50px;
}
.spinner-layer{
    border-color:#ccc2c7;
}

.button-icon {
    margin-top:20px;
}

.card {
    margin-bottom: 40px;
}

.menu-button {
    margin-top: 30px;
}

.heading {
    font-size: 18px;
    margin: 20px 0px;
    background-color: #cdc2c74d;
}

.content {
    margin: 15px 15px;
}

.sidenav {
    font-family: 'Raleway', Helvetica, sans-serif !important;
    background-color: #505050;
    width: 200px;
    top: 95px;
}

.sidenav li>a {
    color: white; 
}

.sidenav li>a>i.material-icons{
    color: white;
    margin: 0;
    padding-left: 10px;
}

.sidenav .divider {
    background-color: #888888;
    margin: 20px 0px;
}

.subheader{
    color: #cca8a8 !important;
}

.sidenav li h4 {
    font-size: 2.5rem;
}

.toggle-sidenav {
    margin-top: 30px;
    margin-bottom: 8px;
}

.toggle-sidenav .material-icons {
    margin: 15px; 
}

.menu-icons{
    background-color: #e9e9e9ba;
    max-width: 100%;
    border-bottom: 2px dotted #b08b8b30;
}

.back-icon {
    text-align: left;
    margin-top: 30px;
}

.MuiPagination-root {
    background-color: transparent;
    text-align: center;
}