$font-01: "Raleway", sans-serif;

/*prevent firefox from making the font-weight bolder than it should be*/
@-moz-document url-prefix() {
    body{
        font-weight: 300;
    }

    
  }

  @mixin lg {
    @media screen and (max-width: 1700px) {
       @content;
    }
  }
  
  @mixin sm {
      @media screen and (max-width: 830px) {
         @content;
      }
    }
  
    @mixin ssm {
      @media screen and (max-width: 600px) {
         @content;
      }
    }  
  
    @mixin xsm {
      @media screen and (max-width: 450px) {
         @content;
      }
    }

.material-icons {
color: #505050ad;
}

.collection {
    margin: 0 ;
    font-family: $font-01 !important;
    letter-spacing: 0.09rem
}


.collection .overlay{
    position:absolute;
    left:0; top:0; bottom:0; right:0;
}

.collection .inner {
    position:relative;
    pointer-events: none;
    z-index: 1;
  }

  .collection .inner a, .collection .inner .percentage{
    pointer-events: all;
  }



.img-container {
    margin-top: 50px;
}

.img-container img {
    max-width: 200px;
    float: right;
    opacity: 0.3;
}

.filter {
    float:left
}

.card {
    background-color:#e5e5e5;
    box-shadow: none;
    border: 1px solid rgb(230, 230, 230);

}

.card:hover{
       transition: all 0.2s;
       transform: translateY(-5px);
}


.card-content {
    font-size: 12px;
}

.card-title {
    min-height: 100px;
    max-width: 250px;
}

.posted-date {
    margin-top: 15px;
    font-size: 8px;
    color: gray;
}
.card-content {
  display: flex;
  justify-content: space-between;  
  margin-top: 10px;
  @include ssm {
    font-size:10px;
    padding: 10px;
}

}
//for all post (general) need to make black to prevent overflow
.original, .target {
    margin: 3px;
    @include ssm {
        display:block;
    }
}

//for recommendation
.original-lang, .target-lang{
    margin: 3px;
}


.answer {
    font-size: 10px;
    background-color: #cdc2c73b;
    height: 10px;
    border-top: 1px solid #cdc2c7;
  
    
}

.answer-count {
    @include ssm {
        display:block;
    }
}

.answer-text {
    @include ssm {
        display:block;
    }
}


.language {
    font-size: 15px;
    color: #c58a94;
   
}

.tag-title {
    
  font-size: 12px;
  border-radius: 4px;
  background: #ccc2c7;
  color:#4e4e4e;
  float: right;
  margin: 0px 5px;
  padding: 4px;      
}

.tag-desc {
  display:none;
  width: 300px;
  font-size: 10px;
  background-color: #f0f0f0;
  color:#4e4e4e;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px; 
}

.tag-title:hover .tag-desc{
    display: block;
  }

.tags {
   padding-bottom: 20px;
   min-height: 120px;
}

.collection h3 {
    padding: 15px;
    border-radius: 5px;
}

.collection:hover{
    background-color: rgba(172, 172, 172, 0.096);
}

.due-date {
    font-size: 9px;
    float: right;
    margin: 5px;
}

.preloader-wrapper{
   margin-top: 50px;
}
.spinner-layer{
    border-color:#ccc2c7;
}

.button-icon {
    margin-top:20px;
}

.card {
    margin-bottom: 40px;
}

.menu-button {
    margin-top: 30px;
}

.heading {
    font-size: 18px;
    margin: 20px 0px;
    background-color: #cdc2c74d;
}

.content {
    margin: 15px 15px;
}

.sidenav {
    font-family: 'Raleway', Helvetica, sans-serif !important;
    background-color: #505050;
    width: 200px;
    top: 95px;
}

.sidenav li>a {
    color: white; 
}

.sidenav li>a>i.material-icons{
    color: white;
    margin: 0;
    padding-left: 10px;
}

.sidenav .divider {
    background-color: #888888;
    margin: 20px 0px;
}

.subheader{
    color: #cca8a8 !important;
}

.sidenav li h4 {
    font-size: 2.5rem;
}

.toggle-sidenav {
    margin-top: 30px;
    margin-bottom: 8px;
}

.toggle-sidenav .material-icons {
    margin: 15px; 
}

.menu-icons{
    background-color: #e9e9e9ba;
    max-width: 100%;
    border-bottom: 2px dotted #b08b8b30;
}

.back-icon {
    text-align: left;
    margin-top: 30px;
}

.MuiPagination-root {
    background-color: transparent;
    text-align: center;
}

//creating content and hiding it so div takes width and height (for referencing)
.reference:after
{
    content: '.';
    visibility: hidden;
}

//for recommended section
.language_set {
    display: inline-block;
    font-family: $font-01;
    background-color: rgb(237, 236, 236);
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(163, 123, 129, 0.281);
}

.translatable {
    padding: 10px;
}

.recommend-post {
    font-family: $font-01;
    border-radius:5px;
    background-color: rgba(223, 211, 213, 0.171); 
    margin-bottom: 15px;
  
}
.inner-content{
    margin: 15px;
}

//for recommendation filter carousel

.fetch-list {
    padding: 8px;
    background-color: #e1dfe0;
    color: gray;
    border-radius: 3px;
}
.main-language {
    
    padding: 8px;
    background-color: #cdc2c7;
    color: white;

}

.translatable {
    color: #424242
}

.slick-list {
    margin: 0 auto;
    background-color: #cdc2c7;
    border: 1px solid #cdc2c7;
    margin-bottom: 15px;
}


.main-arrow {
border-style: solid;
border-width: 5px 0 5px 9px;
border-color: transparent transparent transparent #cdc2c7
}

.list-length {
    color: #424242;
}